.hero {
  background-image: url("../images/volvo940.webp");

  min-height: 250px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  color: white;
  text-shadow: 5px 5px 10px black;
  padding: 25px;
  font-family: "Luxurious Roman", "cursive";
}
.hero-text h1 {
  padding-top: 15x;
  font-size: 75px;
}

@import "bourbon";

body {
  background: #eee !important;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 70%;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin-heading {
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}
:focus {
  z-index: 2;
}

input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
input[type="checkbox"] {
  position: absolute;
  top: 638px;
  right: 385px;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 380px;
  }
  input[type="checkbox"] {
    position: absolute;
    top: 638px;
    left: 10px;
  }
}
